body {
	margin: 0px; font-family: Verdana;
}
a:link {
	color: rgb(64, 64, 64); text-decoration: none;
}
a:visited {
	color: rgb(64, 64, 64); text-decoration: none;
}
a:active {
	color: rgb(64, 64, 64); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.focusnews:link {
	color: rgb(64, 64, 64); text-decoration: none;
}
a.focusnews:visited {
	color: rgb(210, 28, 9); text-decoration: none;
}
a.focusnews:active {
	color: rgb(64, 64, 64); text-decoration: none;
}
a.focusnews:hover {
	color: rgb(210, 28, 9); text-decoration: underline;
}
.cellphone {
	background: rgb(255, 255, 255); width: 100%; border-top-color: rgb(192, 192, 192); border-left-color: rgb(192, 192, 192); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; border-collapse: collapse;
}
.cellphone>thead>tr>th {
	background: rgb(94, 164, 206); text-align: center; font-weight: 400; border-right-color: rgb(192, 192, 192); border-bottom-color: rgb(192, 192, 192); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;vertical-align:middle
}
.cellphone>tbody>tr>td {
	    padding-left: 5px;
    text-align: left; border-right-color: rgb(192, 192, 192); border-bottom-color: rgb(192, 192, 192); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
			.hX {
			    cursor: pointer;
			    display: inline-table;
			    margin-right: 4px;
			    margin-top: 3px;
			    vertical-align: top;
			}		
			.cf {
			    border-collapse: collapse;
			}
			.ha {
		    color: #000000;
		    font-family: arial,sans-serif;
		    font-size: 100%;
			}
			
			.hY .hM, .hQ .hM {
			    height: 1px;
			}
			.hT, .hW, .hS {
			    width: 1px;
			}
			
			.hR .hM {
			    padding-bottom: 1px;
			}

			.hU, .hV {
			    -moz-font-feature-settings: normal;
			    -moz-font-language-override: normal;
			    -x-system-font: none;
			    font-family: verdana,arial,sans-serif;
			    font-size: 12px;
			    font-size-adjust: none;
			    font-stretch: normal;
			    font-style: normal;
			    font-variant: normal;
			    font-weight: normal;
			    line-height: normal;
			}
			.hO {
			    padding-bottom: 1px;
			    padding-left: 4px;
			    padding-right: 4px;
			    padding-top: 1px;
			}	
			.hN {
			    padding-left: 4px;
			    padding-right: 6px;
			}					

