<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>simpleweb</display-name>
	<servlet>
		<servlet-name>Quercus Servlet</servlet-name>
		<servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
		<init-param>
			<param-name>license-directory</param-name>
			<param-value>WEB-INF/licenses</param-value>
		</init-param>
	</servlet>

	<servlet>
		<display-name>ServletAndThread</display-name>
		<servlet-name>ServletAndThread</servlet-name>
		<servlet-class>com.web.ServletAndThread</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>protected</servlet-name>
		<servlet-class>com.web.ProtectedServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>PutServlet</servlet-name>
		<servlet-class>com.web.PutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Quercus Servlet</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletAndThread</servlet-name>
		<url-pattern>/ServletAndThread</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>protected</servlet-name>
		<url-pattern>/protected</url-pattern>
	</servlet-mapping>   
	
	<servlet-mapping>
		<servlet-name>PutServlet</servlet-name>
		<url-pattern>/PutServlet</url-pattern>
	</servlet-mapping>
	<!--
	最后在tomcat-users.xml文件增加实体，   
  		<user name="newuser" password="tomcat" roles="begjsp"/>   
  	地址栏输入：http://localhost:8080/simpleweb/protected会让你输入用户名和密码。 
	-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/protected</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>begjsp</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<!-- 
		 <auth-method>BASIC</auth-method>
		 -->
		 <auth-method>DIGEST</auth-method>
		<realm-name>Wrox Area</realm-name>
	</login-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>