html {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

body {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

div {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

span {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

applet {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

object {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

iframe {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

h1 {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

h2 {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

h3 {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

h4 {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

h5 {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

h6 {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

p {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

blockquote {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

pre {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

a {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

abbr {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

acronym {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

address {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

big {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

cite {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

code {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

del {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

dfn {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

em {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

font {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

img {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

ins {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

kbd {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

q {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

s {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

samp {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

small {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

strike {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

strong {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

sub {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

sup {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

tt {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

var {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

dl {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

dt {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

dd {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

ol {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

ul {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

li {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

fieldset {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

form {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

label {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

legend {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

table {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

caption {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

tbody {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

tfoot {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

thead {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

tr {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

th {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

td {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px currentColor;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
}

body {
	background: white;
	color: black;
	line-height: 1;
}

ol {
	list-style: none;
}

ul {
	list-style: none;
}

table {
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 0;
}

caption {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

th {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q {
	quotes: "" "";
}

blockquote {
	quotes: "" "";
}

q::before {
	content: "";
}

q::after {
	content: "";
}

blockquote::before {
	content: "";
}

blockquote::after {
	content: "";
}

a img {
	border: currentColor;
}

.hll {
	background-color: rgb(255, 255, 204);
}

.c {
	color: rgb(153, 153, 136);
	font-style: italic;
}

.err {
	color: rgb(166, 23, 23);
	background-color: rgb(227, 210, 210);
}

.k {
	font-weight: bold;
}

.o {
	font-weight: bold;
}

.cm {
	color: rgb(153, 153, 136);
	font-style: italic;
}

.cp {
	color: rgb(153, 153, 153);
	font-weight: bold;
}

.c1 {
	color: rgb(153, 153, 136);
	font-style: italic;
}

.cs {
	color: rgb(153, 153, 153);
	font-style: italic;
	font-weight: bold;
}

.gd {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 221, 221);
}

.ge {
	font-style: italic;
}

.gr {
	color: rgb(170, 0, 0);
}

.gh {
	color: rgb(153, 153, 153);
}

.gi {
	color: rgb(0, 0, 0);
	background-color: rgb(221, 255, 221);
}

.go {
	color: rgb(136, 136, 136);
}

.gp {
	color: rgb(85, 85, 85);
}

.gs {
	font-weight: bold;
}

.gu {
	color: rgb(170, 170, 170);
}

.gt {
	color: rgb(170, 0, 0);
}

.kc {
	font-weight: bold;
}

.kd {
	font-weight: bold;
}

.kn {
	font-weight: bold;
}

.kp {
	font-weight: bold;
}

.kr {
	font-weight: bold;
}

.kt {
	color: rgb(68, 85, 136);
	font-weight: bold;
}

.m {
	color: rgb(187, 136, 68);
}

.s {
	color: rgb(0, 153, 153);
}

.na {
	color: rgb(0, 128, 128);
}

.nb {
	color: rgb(153, 153, 153);
}

.nc {
	color: rgb(68, 85, 136);
	font-weight: bold;
}

.no {
	color: rgb(0, 128, 128);
}

.ni {
	color: rgb(128, 0, 128);
}

.ne {
	color: rgb(153, 0, 0);
	font-weight: bold;
}

.nf {
	color: rgb(153, 0, 0);
	font-weight: bold;
}

.nn {
	color: rgb(85, 85, 85);
}

.nt {
	color: rgb(0, 0, 128);
}

.nv {
	color: rgb(0, 128, 128);
}

.ow {
	font-weight: bold;
}

.w {
	color: rgb(187, 187, 187);
}

.mf {
	color: rgb(187, 136, 68);
}

.mh {
	color: rgb(187, 136, 68);
}

.mi {
	color: rgb(187, 136, 68);
}

.mo {
	color: rgb(187, 136, 68);
}

.sb {
	color: rgb(0, 153, 153);
}

.sc {
	color: rgb(0, 153, 153);
}

.sd {
	color: rgb(0, 153, 153);
}

.s2 {
	color: rgb(0, 153, 153);
}

.se {
	color: rgb(0, 153, 153);
}

.sh {
	color: rgb(0, 153, 153);
}

.si {
	color: rgb(0, 153, 153);
}

.sx {
	color: rgb(0, 153, 153);
}

.sr {
	color: rgb(128, 128, 0);
}

.s1 {
	color: rgb(0, 153, 153);
}

.ss {
	color: rgb(0, 153, 153);
}

.bp {
	color: rgb(153, 153, 153);
}

.vc {
	color: rgb(0, 128, 128);
}

.vg {
	color: rgb(0, 128, 128);
}

.vi {
	color: rgb(0, 128, 128);
}

.il {
	color: rgb(187, 136, 68);
}

body {
	color: rgb(119, 119, 119);
	line-height: inherit;
	font-family: georgia, serif;
}

a {
	color: rgb(119, 119, 119);
	text-decoration: underline;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: rgb(135, 198, 208);
	text-shadow: none;
}

a.orange:hover {
	background-color: rgb(243, 162, 113);
}

a.green:hover {
	background-color: rgb(122, 207, 111);
}

a.red:hover {
	background-color: rgb(240, 128, 128);
}

a.teal:hover {
	background-color: rgb(117, 201, 171);
}

a.purple:hover {
	background-color: rgb(219, 152, 215);
}

a.yellow:hover {
	background-color: rgb(224, 229, 98);
}

h1 {
	letter-spacing: -0.06em;
	font-weight: normal;
	margin-bottom: 15px;
	display: inline-block;
	background-color: rgb(238, 238, 238);
}

h2 {
	letter-spacing: -0.06em;
	font-weight: normal;
	margin-bottom: 15px;
	display: inline-block;
	background-color: rgb(238, 238, 238);
}

h3 {
	letter-spacing: -0.06em;
	font-weight: normal;
	margin-bottom: 15px;
	display: inline-block;
	background-color: rgb(238, 238, 238);
}

h4 {
	letter-spacing: -0.06em;
	font-weight: normal;
	margin-bottom: 15px;
	display: inline-block;
	background-color: rgb(238, 238, 238);
}

h5 {
	letter-spacing: -0.06em;
	font-weight: normal;
	margin-bottom: 15px;
	display: inline-block;
	background-color: rgb(238, 238, 238);
}

h6 {
	letter-spacing: -0.06em;
	font-weight: normal;
	margin-bottom: 15px;
	display: inline-block;
	background-color: rgb(238, 238, 238);
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 10px;
}

h6 {
	font-size: 5px;
}

pre {
	padding: 5px 10px;
	border: 1px solid rgb(204, 204, 204);
	overflow: auto;
	font-family: monaco, monospace;
	font-size: 0.8em;
	margin-bottom: 15px;
}

code {
	font-family: monaco, monospace;
}

body {
	background-position: top;
	margin: 0px auto;
	width: 800px;
	text-align: center;
	color: rgb(119, 119, 119);
	background-image: url("../images/background.jpg");
	background-repeat: repeat-x;
}

p {
	text-indent: 1em;
	margin-bottom: 15px;
}

ul {
	margin: 0px 20px 20px;
}

ul li {
	list-style: circle;
	margin: 0px;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

iframe {
	overflow: hidden;
}

header {
	padding: 15px 0px 30px;
	letter-spacing: -0.06em;
	font-size: 30px;
}

footer {
	padding: 15px 0px 30px;
	letter-spacing: -0.06em;
	font-size: 30px;
}

header a {
	padding: 5px 10px;
	color: rgb(119, 119, 119);
	text-decoration: none;
}

footer a {
	padding: 5px 10px;
	color: rgb(119, 119, 119);
	text-decoration: none;
}

header a :hover {
	color: white;
}

footer a :hover {
	color: white;
}

p.warning {
	margin: 10px 0px;
	font-size: 30px;
	display: block;
}

p.warning strong {
	color: red;
}

#content {
	padding: 0px 20px;
	text-align: left;
}

#content #intro {
	padding: 10px;
	text-align: center;
	text-indent: 0px;
	font-size: 95%;
}

footer {
	padding: 20px;
	clear: both;
	margin-top: 20px;
}

footer #contact {
	line-height: 26px;
}

footer #contact a {
	background-position: top;
	margin: 5px 3px 0px;
	padding: 0px;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	display: inline-block;
	background-repeat: no-repeat;
}

footer #contact a:hover {
	background-position: bottom;
	background-color: transparent;
}

footer #contact #twitter {
	background-image: url("../images/social/twitter.jpg");
}

footer #contact #facebook {
	background-image: url("../images/social/facebook.jpg");
}

footer #contact #flickr {
	background-image: url("../images/social/flickr.jpg");
}

footer #contact #email {
	background-image: url("../images/social/email.jpg");
}

footer #contact #feed {
	background-image: url("../images/social/feed.jpg");
}

#chrome-link {
	text-align: center;
}

ul#experiments {
	margin: 0px;
	padding: 10px 0px;
}

ul#experiments li {
	list-style: none;
	width: 350px;
	height: 185px;
	text-align: center;
	margin-top: 5px;
	float: left;
}

ul#experiments li a.thumb {
	width: 350px;
	height: 100px;
	margin-bottom: 5px;
	display: block;
}

ul#experiments li a.thumb img {
	border: 1px solid rgb(221, 221, 221);
}

ul#experiments li a.link {
	font-size: 30px;
	text-decoration: none;
}

ul#experiments li span {
	color: rgb(170, 170, 170);
}

ul#experiments li p {
	text-align: left;
	text-indent: 0px;
	margin-top: 5px;
}

ul#experiments li.odd {
	margin-right: 50px;
}